

body{
    width: 600px; 
    margin:auto; 
    margin-top :50px;
    }
    
h2{
    text-align:center;
}

.button1{
    text-align:right;
}

table{
    border: solid 1px black;
    width:600px;
}

       
td {
    width:600px;
    padding-top: 5px;
    padding-left: 5px;
    }

